/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#constituency .search-type {
  margin: 0 10px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  font-size: 0.8em;
}

.tt-menu {
	background-color: white;
	padding: 1em;
	border: thin solid black;
}

span.value {
	font-size: 2em;
	font-weight: bold;
}

p.value {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

p.caption {
	text-align: center;
}

div.average {
	color: #999999;
}

div.row {
	padding-top: 15px;
	padding-bottom: 15px;
}